<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action="/landmarks/<%= @landmark.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <pre>
    <h3>Edit Landmark: </h3>

    <label>Landmark Name: </label>
    <input id="name" type="text" name="landmark[name]" value="<%= @landmark.name%>">

    <label>Landmark Year Completed: </label>
    <input id="year_completed" type="number" name="landmark[year_completed]" value ="<%= @landmark.year_completed  %>">

    <input type="submit" value="Edit Landmark">
    </pre>
  </form>
</body>
</html>
